---
layout: page
title: EnvironImagine
excerpt: "Overview of Karttur´s projects on GitHub"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

<h2>Real world quality control with environmental imagine.</h2>

<p>Over the past decades spectroscopy has developed into a
mainstream method for detecting substances, contents, pollutions and
impurities etc. Spectroscopy is traditionally used within many science desciplines.
The ongoing miniturization means that spectrometers are now becoming handheld
and thus also reaching a broad consumer market. I believe that within a decade
(during the decade of the 2020s) smartphones will come with builtin spectrometers. Perhaps that will happen
already come in 2021 or 2022.</p>

<p>On the software side, the development of Machine Learning (ML) and
Artificial Intelligence (AI) have paved the way for pattern recognition and
improved estimations of sample, or image, content and compositions.</p>

<p>Most spectrometers are used with proprietary software (apps). These apps
have a steep learning curve and a large entry threshold. Few of them are Open Source</p>

<p>Based on ideas and algorithm developments that I have done over the
past decades for interpreting mulit-spectral satellite images,
 I want to  develop a new approach for interpreting spectral data,
whether from multi-spectral images or hyperspectral spectrometer.
The pages assembled here is just for me to keep track of the
different aspects I need to juggle in order to expand my small
corportation into a business offering an app (online tool or for
download) that would allow civic users to become imagery citizen scientists.</p>

<h2><a href="../general/">General information sources</a><h2>
<ul class="post-list">
{% for post in site.categories.general limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2><a href="../otherprods/">Handheld spectrometers on the market</a><h2>
<ul class="post-list">
{% for post in site.categories.otherprods limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2><a href="../sensors/">Sensors for building spectrometer</a><h2>
<ul class="post-list">
{% for post in site.categories.sensors limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2><a href="../components/">Components to use for building spectrometer</a><h2>
<ul class="post-list">
{% for post in site.categories.components limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2>Spectroscopy and drones<h2>
<ul class="post-list">
{% for post in site.categories.drones limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2>Designing a handheld spectrometer<h2>
<ul class="post-list">
{% for post in site.categories.design limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2><a href="../pitch-bmc/">Pitch and Business Model Canvas</a><h2>
<ul class="post-list">
{% for post in site.categories.pitch-bmc limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2><a href="../funding/">Funding opportunities</a><h2>
<ul class="post-list">
{% for post in site.categories.funding limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
